body{
    max-width: 900px;
    max-height: 400px;
    

}

.degradediagonal{
    background: linear-gradient(to bottom right, rgb(113, 208, 113), rgb(61, 189, 215) ) no-repeat;
    
}

main{
    color: aliceblue;
    background-color: black;
    max-width: fit-content;
    max-height: fit-content; 
    border-color: white;
    border : 1px;
    
}

nav{

    width:  fit-content;
    text-align: center;
    border: 50px;
    background-color: pink;
    
}

.button{
    align-content: center;
    text-align: justify;
    margin: 10px;
    border-color: black ;
}


#rappel{
    text-align: center;
}
#login{
    color: rgb(82, 163, 2);
}
#signin{
    color: rgb(255, 0, 0);
}





/* Inscription */
#pwdRules{
    display: block;
    text-align: left;
    padding: 1px color black;
}
#userEmail{
    text-align: justify;
}